:root {
    /*Standard Colors*/
    --ihccRed: rgb(120,47,64);
    --ihccYellow: rgb(255,164,0);
    --ihccWhite: rgb(255,255,255);
    --ihccBlack: rgb(0,0,0);

    /*Event Colors*/
    --ihccRed-dark: rgb(105, 37, 64);
    --ihccYellow-dark: rgb(204, 118, 6);

    /*box shadow code, standard use, light source from left*/
    --custom-box-shadow:
        0 1px 1px rgba(0,0,0,0.11),
        0 2px 2px rgba(0,0,0,0.11),
        0 4px 4px rgba(0,0,0,0.11),
        0 6px 8px rgba(0,0,0,0.11),
        0 8px 16px rgba(0,0,0,0.11);

}

* {
    font-size: 62.5%;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    height: 150vh;
}

h1 {
    font-size: 1em;
    margin-bottom: 5px;
}
p {
    margin-top: 0;
}

button:hover {
    cursor: pointer;
}

/* || Site-wide */
#nav-area {

    background: rgba(255, 255, 255, .15);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;

    width: 100%;
}

.navbar-container {
    z-index: 100;
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
    width: 95%;

    font-weight: 500;

    padding: 5px;
    border-radius: 10rem;

    color: var(--ihccWhite);
    background-color: var(--ihccBlack);
}
#navbar-logo-img {
    height: auto;
    width: 65px;

    /*making border radius 50% always results in a perfect circle, just fyi for anyone who cares*/
    border-radius: 50%;
}
.navbar-container-left {
    /*put things in here as needed*/
    display: flex;
    align-items: center;
}
.navbar-container-left span {
    margin-left: 1rem;
    font-size: 15em;
}

.navbar-container-right {
    margin-left: auto;
}

#navbar-menu-btn {
    transition: all .2s ease;

    display: block;
    width: 63px;
    height: 63px;

    border-radius: 50%;
    border: 3px solid var(--ihccRed);

    background-color: var(--ihccWhite);
}
#close-sub-nav-menu {
    float: right;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: none;

    background-color: var(--ihccWhite);
}
#sub-nav-menu {
    transition: all .2s ease;
    display: none;
    z-index: 20;
    position: fixed;
    right: 0;
    margin-top: calc(1.5vw + 7px);
    margin-right: 2.5%;

    min-width: 225px;
    max-width: 450px;
    <!--min-height: 325px;
    max-height: 525px;-->

    opacity: 0;
    border-radius: 30px;
    border: 3px solid var(--ihccYellow);
    background-color: var(--ihccWhite);
    box-shadow: var(--custom-box-shadow);
}
#sub-nav-menu ol {
    margin-right: 15px;

    font-weight: 600;
    font-size: 25em;
    text-align: right;
    list-style-type: none;
}
#sub-nav-menu a {
    color: var(--ihccRed);
    text-decoration: none;
}

/*styling for announcement tab*/
.announcement-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding-top: 1.5vw;
}
.announcement-container {
    display: flex;
    width: 95%;
    font-size: 15em;

    padding: 20vh 5px 5px 5px;

    border-radius: 30px;
    color: var(--ihccWhite);
    background: linear-gradient(180deg, var(--ihccBlack) 0%, var(--ihccRed-dark) 100%);
}

.container-left {
    width: 50%;
    margin: 0 15px 0 20px;
}
.container-right {
    width: 50%;
    margin: 0 20px 15px auto;
    position: relative;
}
.bottom-test {
    position: absolute;
    bottom: 0;
    right: 0;
}
.active, .img-dot:hover {
    background-color: var(--ihccYellow) !important;
}
.img-dot {
    display: inline-block;
    z-index: 5;
    position: relative;
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: var(--ihccWhite);
    border-radius: 50%;
    border: 3px solid var(--ihccWhite);
    transition: background-color 0.2s ease;
}
@media only screen and (max-width: 600px) {
    .navbar-container {
        margin-top: 0;
        width: 100vw;

        padding: 5px;
        border-radius: 0;
    }
    .navbar-container-right {
        margin-right: 15px;
    }
    .navbar-container-left {
        margin-left: 15px;
    }
    #sub-nav-menu {
        margin-top: 8px;
        margin-right: 20px;
    }
    .announcement-container {
        display: block;
    }
    .container-right, .container-left {
        width: calc(100% - 15px);
        margin: 15px;
    }
    .bottom-test {
        position: relative;
    }
}
